body{
    margin: 0;
}

.foot{
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: small;
}

.li{
    font-size: small;
    display: flex;
    position: absolute;
    flex-direction: column;  
    margin: 20px;
}

.lu{
    font-size: small;
    display: flex;
    text-align: center;
    flex-direction: column;  
}

.lo{
    font-size: small;
    display: flex;
    position: absolute;
    text-align: left;
    flex-direction: column;  
    margin-left: 860px;
}