body{
    margin: 0;
}

.navbar {
    background-color: black;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 10000px;
    height: 50px;
    margin-top: 0;
    padding: 9px 0;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0 20px;
    padding-right: 105px;
    margin-left: 90px;
}
  
.logo img {
    max-height: 20px;
}
  
.nama ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
  
.nama ul li a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
  
.cari button{
    height: 24px;
    width: 24px;
}